<mat-card class="app-content">
    <div *ngIf="data.length <= 1">
        <mat-card-header>
            <mat-card-title>
                <h3>{{ data[0].title }}</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content-tab">
            <p>{{ data[0].content }}</p>
        </mat-card-content>
    </div>
    <mat-tab-group *ngIf="data.length > 1" headerPosition="below" mat-align-tabs="center">
        <mat-tab *ngFor="let tab of data" label="{{ tab.title }}">
            <div class="content-tab">
                {{ tab.content}}
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>