.app-home {
    width: 100%;
    height: 100%;
    .sidenav-container {
        width: 100%;
        .content-view {
            width: calc(100% - 2em);
            padding: 1em;
            .content-view-container {
                width: 100%;
                margin-top: 1em;
            }
        }
    }
    mat-sidenav {
        width: 250px;
    }
}