<div class="app-home" fxLayout="row" fxLayoutAlign="center stretch">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="side">
            <div fxLayout="column" fxLayoutAlign="start start">
                <button (click)="sidenav.toggle(); disabledMenu=false" mat-icon-button
                    color="accent">
                    <mat-icon>close</mat-icon>
                </button>
                <app-tree [nodes]="nodes" (selected)="onSelected($event)"></app-tree>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxLayout="row" fxLayoutAlign="start start">
            <button (click)="sidenav.toggle(); disabledMenu=true" [disabled]="disabledMenu" mat-icon-button
                color="accent">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="content-view" fxLayout="column" fxLayoutAlign="start center">
                    <button (click)="test()">test</button>
                <app-header
                    [data]="dataHeader">
                </app-header>
                <div class="content-view-container" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1.5em">
                    <app-content fxFlex="50"
                        [data]="DataContent">
                    </app-content>
                    <app-video fxFlex="50"></app-video>
                </div>
                <app-progress></app-progress>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>