.app-video {
    background: #000;
    .player-containter {
        transition: all 300ms ease-in-out;
        // transform: translate3d(-20%, -20%, 0) scale(0.2);
        z-index: 992;
        background-color: #000;
      }
}