/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';

html, body { height: 100%; background-color: beige;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }